<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>MetaAppID</key>
    <string>754161097368785</string>
    <key>ClientToken</key>
    <string>AR|754161097368785|98d5def5c34dd04b2439ba6e09e7ea0b</string>
    <key>TeamID</key>
    <string>$(DEVELOPMENT_TEAM)</string>
</dict>
</plist>
